<div class="container">
        <a class="navbar-brand">Admin Panel</a>
        <ul class="nav navbar-nav" routerLinkActive="active">
            <li class="nav-item"><a class="nav-link" routerLink="create-question">Create Questions</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="all-questions">All Questions</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="create-quiz">Create Quiz</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="all-quizzes">All Quizzes</a></li>
        </ul>
</div>

<router-outlet></router-outlet>
